
<h1>Blackjack!</h1>
<h3>Welcome <%=session[:player_name] %></h3>

<% if @play_agian %>
	<strong>Play Again?</strong>
	<a href="/start_game" class="btn btn-primary"> Yes </a>
	<a href="/game_over" class="btn"> No </a>
<br>
<% end %>

<br>

<div class = 'well'>

	<h4>Dealer's cards are =></h4> 

	<% if @hide_dealer_card %>
			<%= card_image(session[:dealer_cards][1]) %>
			<img src='/images/cards/cover.jpg' class='card_image'>
	
		<% else %>

		<% session[:dealer_cards].each do |card| %>
			<%= card_image(card) %>
		<% end %>
		<br>
		Dealer total is <%= calculate_total(session[:dealer_cards]) %>
	<% end %>

	<br>

	<% if @dealer_button %>
		<form id ="dealer_button" action='/game/dealer/hit' method='post'>
			<input type ="submit" value="Click to see dealer's next card" class='btn btn-primary'/>
		</form>
	<%end%>

</div>

<br>

<div class = 'well'>

	<h4><%= session[:player_name] %> your cards are =></h4> 

		<% session[:player_cards].each do |card| %>
			<%= card_image(card) %>
		<% end %>

	<br>
	Your total is <%= calculate_total(session[:player_cards]) %>

	<br>

	<% if @show_buttons %>
		Would you like to Hit or Stay?<br>
		<form id ="hit_form" action='/game/player/hit' method='post'>
			<input type ="submit" value="Hit" class='btn btn-warning' />
		</form>
		
		<form id = "stay_form" action='/game/player/stay' method='post'>
			<input type ="submit" value="Stay" class='btn btn-success' />
		</form>
	<%end%>
	
	<br><br>
</div>



